body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.profile-image {
    width: 150px;
    border-radius: 50%;
}

.home-content, .research-content, .news-content, .blogs-content {
    margin: 2em;
}